@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    box-sizing: border-box;
}
.banner-left h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
h1,  h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
}